= simple_form_for @candidate, html: { class: "panel panel-default" } do |f|
  .panel-heading
    %h1= I18n.t("simple_form.titles.candidate.new")

  .panel-body
    .panel.panel-default
      .panel-heading
        = I18n.t("simple_form.titles.candidate.candidate_info")
      .panel-body
        .row
          .col-xs-6.field
            = f.input :name
          .col-xs-6.field
            = f.input :email
    .panel.panel-default
      .panel-heading
        = I18n.t("simple_form.titles.candidate.knowledges")
      .panel-body
        .row
          .col-xs-3.field
            = f.input :html_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :css_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :javascript_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :python_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :django_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :ios_score, input_html: { min: 0, max: 10 }
          .col-xs-3.field
            = f.input :android_score, input_html: { min: 0, max: 10 }

  .panel-footer.actions
    = f.button :submit, class: "btn-lg btn-success"
